/* Estilos del Banner */
.banner {
    width: 100%;
    max-width: 100vw;
    height: 100px; /* Ajusta esta altura para hacerlo más o menos alto */
    overflow: hidden;
    position: relative;
    margin: 15px 0 0 0; /* Añadido margen superior de 15px */
    padding: 0;
    background-color: #F9E271;
}
